<div id="logreg-forms">
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
  <div class="social-login">
    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> <%= t "views.tag.sign_with_facebook" %></span> </button>
    <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> <%= t "views.tag.sign_with_google" %> </span> </button>
  </div>
  <p style="text-align:center"> <%= t "views.tag.or" %> </p>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.email_field :email, class: "form-control", placeholder: t("views.tag.email")%>
    <%= f.password_field :password, class: "form-control", placeholder: t("views.tag.password")%>
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span> <%= t("authentication.views.label.remember_me") %> </span>
    <% end %>
    <%= f.submit t("authentication.views.html.login"), class: "btn btn-success btn-block" %>
  <% end %>
  <hr>
  <%= link_to signup_path do %>
    <button type="button" id="btn-signup"><i class="fas fa-user-plus"></i> <%= t "views.tag.sign_up_new_account" %> </button>
  <% end %>
  <br>
</div>
