<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1" style="padding-top: 0px;">
              <%= image_tag "#{@tour_detail.tour.image}",  alt: t("views.tag.tour_detail"), class: "group list-group-image", style: "width: 1000px;" %>
            </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
          </ul>
        </div>
        <div class="details col-md-6" style="margin-left: 100px;">
          <h3 class="product-title"> <%= @tour_detail.tour.name %></h3>
          <div class="rating">
            <div class="stars">
              <% if @self_star.nil? %>
                <%= link_to new_rating_path(star: "1", tour_id: @tour_detail.tour.id), remote: true do %>
                  <span class="fa fa-star"></span>
                <% end %>
                <%= link_to new_rating_path(star: "2", tour_id: @tour_detail.tour.id), remote: true do %>
                  <span class="fa fa-star"></span>
                <% end %>
                <%= link_to new_rating_path(star: "3", tour_id: @tour_detail.tour.id), remote: true do %>
                  <span class="fa fa-star"></span>
                <% end %>
                <%= link_to new_rating_path(star: "4", tour_id: @tour_detail.tour.id), remote: true do %>
                  <span class="fa fa-star"></span>
                <% end %>
                <%= link_to new_rating_path(star: "5", tour_id: @tour_detail.tour.id), remote: true do %>
                  <span class="fa fa-star"></span>
                <% end %>
              <% else %>
                <% @self_star.star.times do |star| %>
                  <span class="fa fa-star checked"></span>
                <% end %>
              <% end %>
            </div>
            <span class="review-no"><%= @tour_detail.tour.reviews.all.count %> reviews</span>
          </div>
          <p class="product-description"> <%= @tour_detail.tour.description %></p>
          <h4 class="price"> <%= t("views.tag.current_price") %> <span> <%= @tour_detail.price %> $ </span></h4>
          <p class="vote"> <%= t("views.tag.average") %>
            <% @star.times do |display| %>
              <span class="fa fa-star checked">
              </span>
            <% end %> <%= t("views.tag.of_buyer_enjoyed_this_product")%> <strong>(<%= @tour_detail.tour.ratings.count %> votes)</strong>
          </p>
          <h5 class="sizes"> <%= t("views.tag.time_start") %>
            <span class="size" data-toggle="tooltip" title="small"><%= @tour_detail.time_start %></span>
          </h5>
          <h5 class="sizes"> <%= t("views.tag.time_end") %> :&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="size" data-toggle="tooltip" title="small"><%= @tour_detail.time_end %></span>
          </h5>
          <div class="action" style="display: inline-block">
            <%= form_for(@booking_tour, url: new_booking_path,method: :GET, authenticity_token: true) do |f| %>
              <%= f.text_field(:book_total, class: "add-to-cart", placeholder: "_______", style: "width:70px;") %>
              <%= f.hidden_field :tour_detail_id %>
              <%= button_tag(type: "submit", class: "like btn btn-default", style: "float:left") do %>
                <span class="fa fa-heart"> <%= t("views.tag.booking") %> </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container">
  <h2 class="page-header">Comments</h2>
  <%= form_for(@self_review, url: new_comment_path,method: :GET, authenticity_token: true, remote: true) do |f| %>
    <div class="input-group">
      <%= f.text_field(:content, class: "form-control", placeholder: "Leave a comment ", style: "height: 50px;")%>
      <%= f.hidden_field :tour_id %>
      <span class="input-group-addon">
        <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          <i class="fa fa-edit"></i>
        <% end%>
      </span>
    </div>
  <% end%>
  <div class="col-sm-16" id="listcomment">
    <% unless @reviews.nil? %>
      <%= will_paginate @reviews %>
      <% @reviews.each do |review| %>
        <div class="panel panel-white post panel-shadow" id="R<%= review.id%>">
          <div class="post-heading">
            <div class="pull-left image">
              <%= link_to view_other_user_information_path(user_id: review.user.id) do %>
                <%= image_tag "#{review.user.avatar}",  alt: "Tour Image", class: "img-circle avatar" %>
              <% end %>
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                <%= link_to view_other_user_information_path(user_id: review.user.id) do %>
                  <b> <%= review.user.name %> </b>
                <% end %>
              </div>
              <h6 class="text-muted time"> <%= review.updated_at %></h6>
            </div>
          </div>
          <div class="post-description">
            <p> <%= review.content%> </p>
            <div class="stats">
              <% if liked? review.id %>
                <%= link_to new_like_path(id: review.id), class: "btn-default stat-item", id: "R#{review.id}L", remote: true do %>
                  <i class="fa fa-thumbs-up icon"></i> <%= review.likes.count%>
                <% end%>
              <% else%>
                <%= link_to like_path(id: review.id), method: "DELETE" , class: "stat-item" ,id: "R#{review.id}L", remote: true do %>
                  <i class="fa fa-thumbs-up icon"></i> <%= review.likes.count%>
                <% end %>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
