<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
  <div class="row">
    <%= will_paginate @my_review %>
    <div class="searchable-container">
      <% @my_review.each do |review| %>
        <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix" id="R<%= review.id %>">
          <div class="info-block block-info clearfix" style="height: 200px;">
            <div class="square-box pull-left">
              <%= image_tag "#{review.tour.image}",  alt: "Tour Image", :style => "height:150px;" %>
            </div>
            <h5> <%= review.created_at.strftime("%B %e, %Y at %I:%M %p")  %></h5>
            <h4> <%= review.tour.name %></h4>
            <p><%= review.tour.description%></p>
            <br>
            <h4> <%= review.content %></h4>
            <div style="display: inline-block">
              <% if liked? review.id  %>
                <%= link_to new_like_path(id: review.id), :class=>"btn-default stat-item", :id => "R#{review.id}L", :remote => true do %>
                  <i class="fa fa-thumbs-up icon"></i> <%= review.likes.count%>
                <% end%>
              <% else%>
                <%= link_to like_path(id: review.id), method: "DELETE" , :class=>"stat-item" ,:id => "R#{review.id}L", :remote => true do %>
                  <i class="fa fa-thumbs-up icon"></i> <%= review.likes.count%>
                <% end %>
              <%end%> &nbsp;
              <%= link_to comment_path(id: review.id), method: "DELETE", :class=>"glyphicon glyphicon-trash" , :remote => true do %>
              <% end %>
            </div>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>
